p {
  padding-right: var(--side-padding);
}

.artwork {
  border: 1px solid var(--fg2);
  margin: 5px;
  width: 211px;
}

.blog-img {
  max-width: calc(
    var(--content-width)
    - calc(var(--side-padding) * 2)
    - var(--scrollbar-padding)
  );
  border: 1px solid var(--fg2);
}
