@import url("style.css");

.artwork {
  border: var(--border-width) solid var(--fg2);
  margin: 5px;
  width: 211px;
  transition: transform .2s;
}

.artwork:hover {
  transform: scale(1.025);
}

.blog-img {
  max-width: calc(
    var(--content-width)
    - calc(var(--side-padding) * 2)
    - var(--scrollbar-padding)
    - var(--scrollbar-width)
  );
  border: var(--border-width) solid var(--fg2);
}
