@import url("style.css");

html {
  background-image: url(../images/bg3.webp);
}

body {
  max-width: var(--page-width);
  min-width: var(--page-width);
  max-height: var(--page-height);
  min-height: var(--page-height);
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background-image: url(../images/layout.webp);
  display: grid;
  grid-template-columns: 
    var(--left-side-width)
    var(--navbar-width)
    var(--content-width)
    var(--right-side-width);
  grid-template-rows:
    var(--header-height)
    var(--content-height) 
    var(--footer-height)
    var(--page-bottom-height);
  justify-content: center;
  height: 100%;
  width: 100%;
  row-gap: var(--row-gap);
}

.header {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1;
  display: flex;
  position: relative;
  padding-left: var(--side-padding);
}

.header-img {
  position: absolute;
  bottom: 0;
}

.navbar {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.navbar-side {
  grid-row: 2;
  grid-column-start: 1;
}

.content {
  grid-column: 3;
  grid-row: 2;
}

.content-side {
  grid-column: 4;
  grid-row: 2;
}

.footer {
  grid-column: 3;
  grid-row: 3;
  text-align: center;
  line-height: var(--footer-height);
}

.content-bottom {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 4;
}

.content iframe {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: var(--scrollbar-padding);
  border: none;
}
