@import url("style.css");

html {
  background-image: url(../images/bg3.webp);
}

body {
  max-width: 1042px;
  min-width: 1042px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: grid;
  grid-template-columns: 
    var(--left-side-width)
    var(--navbar-width)
    var(--content-width)
    var(--right-side-width);
  grid-template-rows:
    var(--header-height)
    var(--content-height) 
    var(--footer-height)
    var(--page-bottom-height);
  justify-content: center;
  height: 100%;
  width: 100%;
  row-gap: 10px;
}

.header {
  background-image: url(../images/banner.webp);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1;
  display: flex;
  position: relative;
  padding: 10px;
}

.header-img {
  position: absolute;
  bottom: 0;
}

.navbar {
  background-image: url(../images/navbar.webp);
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.navbar-side {
  background-image: url(../images/navbar-side.webp);
  grid-row: 2;
  grid-column-start: 1;
}

.content {
  border-top: 1px solid var(--fg2);
  border-bottom: 1px solid var(--fg2);
  border-left: 1px solid var(--fg2);
  grid-column: 3;
  grid-row: 2;
  background-image: url(../images/content-bg.webp);
}

.content-side {
  grid-column: 4;
  grid-row: 2;
  background-image: url(../images/content-side.webp);
}

.footer {
  grid-column: 3;
  grid-row: 3;
  background-image: url(../images/footer.webp);
  text-align: center;
  line-height: 45px;
}

.content-bottom {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 4;
  background-image: url(../images/tiger.webp);
}

.content iframe {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: var(--scrollbar-padding);
  border: none;
}
