:root {
  /* ---- COLORS ---- */
  --fg: #efdfd2;
  --fg2: #e4bfb6;
  --bg: #4f3445;
  --h1: #a4b5c5;
  --h2: #be9cc1;
  --h3: #817396;

  /* ---- PADDING ---- */
  --side-padding: 10px;
  --scrollbar-padding: 2px;
  --list-padding: 40px;
}

