:root {
  /* ---- COLORS ---- */
  --fg: #efdfd2;
  --fg2: #e4bfb6;
  --bg: #4f3445;
  --h1: #a4b5c5;
  --h2: #be9cc1;
  --h3: #817396;

  /* ---- PADDING ---- */
  --side-padding: 15px;
  --top-padding: 10px;
  --list-padding: 40px;
  --scrollbar-padding: 3px;
  --scrollbar-width: 7px;
  --heading-padding: 5px;

  /* ---- GRID LAYOUT ---- */
  --row-gap: 11px;
  --left-side-width: 157px;
  --navbar-width: 193px;
  --content-width: 535px;
  --right-side-width: 157px;
  --header-height: 252px;
  --content-height: 543px;
  --footer-height: 45px;
  --page-bottom-height: 373px;
  --page-width: calc(
    var(--left-side-width)
    + var(--navbar-width)
    + var(--content-width)
    + var(--right-side-width)
  );
  --page-height: calc(
    var(--header-height)
    + var(--content-height)
    + var(--footer-height)
    + var(--page-bottom-height)
    + calc(var(--row-gap) * 3)
  );
}

