:root {
  /* ---- COLORS ---- */
  --fg: #efdfd2;
  --fg2: #e4bfb6;
  --bg: #4f3445;
  --h1: #a4b5c5;
  --h2: #be9cc1;
  --h3: #817396;

  /* ---- PADDING ---- */
  --side-padding: 15px;
  --top-padding: 10px;
  --list-padding: 40px;
  --scrollbar-padding: 2px;
  --left-side-width: 157px;
  --navbar-width: 193px;
  --content-width: 535px;
  --right-side-width: 157px;
  --header-height: 252px;
  --content-height: 545px;
  --footer-height: 45px;
  --page-bottom-height: 373px;
}

